body {
  margin: 20px 0 0 0;  
  padding: 0;
}

.cuadrado {
  width: 40%;          
  height: 25px; 
  background-color: rgb(229, 231, 231);
}
.cuadrado-n {
  height: 3.5vh;
  width: 10vh;
  background-color:rgb(243, 134, 107);
  position: absolute;
  left: 0px
}
.cuadrado-g {
  height: 3.5vh;
  width: 40vh;
  background-color:rgb(211, 209, 209);
  position: absolute;
  left: 22%
}
.barra-superior {
  width: 100%;         
  height: 40px; 
  display: flex;
  background-color: rgb(229, 231, 231);
  align-items: center;    
  padding-left: 20px;
}
.cuadrado-unobs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  left: 17px
 
}
.cuadrado-dosbs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  left: 50px
}
.cuadrado-largo {
  height: 3vh;
  width: 87%;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  left: 100px
}
.cuadrado-tresbs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  right: 17px
 
}
.cuadrado-cuatrobs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  right: 50px
}
.cuadrado-naranja {
  height: 10vh;
  width: 70vh;
  background-color: rgb(243, 134, 107);  
  position:absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-55%);
}
.cuadrado-blanco {
  height: 3vh;
  width: 70%;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  top: 50%; 
  left: 40%; 
  transform: translate(-50%, -50%);
}
.cuadrado-negro {
  height: 10vh;
  width: 10vh;
  background-color: rgb(57, 56, 77);  
  position: absolute;
  top: 150px;
  left: calc(45% + 35vh);
}

.cuadrado-uno {
  height: 40vh;
  width: 30vh;
  display: flex;
  align-items: center;
  margin-top: 50vh;
  margin-left: 50vh;
  background-color:rgb(243, 134, 107)
  
}
.cuadrado-dos {

  height: 40vh;
  width: 30vh;
  display: flex;
  align-items: center;
  margin-top: -40vh;
  margin-left: 85vh;
  background-color:rgb(165, 241, 247)
}

.cuadrado-tres {
  height: 40vh;
  width: 30vh;
  display: flex;
  align-items: center;
  margin-top: -40vh;
  margin-left: 120vh;
  background-color:rgb(241, 185, 112)
}