body {
  margin: 20px 0 0 0;  
  padding: 30;
 
}
.espacio-celeste {
  height: 70px;   
  width: 100%;        
  background-color: rgb(165, 241, 247);
  position: relative;  
  top: -50px;
  z-index: -1;}
.cuadrado {
  width: 40%;          
  height: 25px; 
  background-color: rgb(229, 231, 231);
}
.cuadrado-n {
  height: 3.5vh;
  width: 10vh;
  background-color:rgb(243, 134, 107);
  position: absolute;
  left: 0px
}
.cuadrado-g {
  height: 3.5vh;
  width: 40vh;
  background-color:rgb(211, 209, 209);
  position: absolute;
  left: 22%
}
.barra-superior {
  width: 100%;         
  height: 40px; 
  display: flex;
  background-color: rgb(229, 231, 231);
 position: absolute;
  align-items: center; 
  top: 45px;  
  left: 0px;
}
.cuadrado-unobs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  left: 17px
 
}
.cuadrado-dosbs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  left: 50px
}
.cuadrado-largo {
  height: 3vh;
  width: 87%;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  left: 100px
}
.cuadrado-tresbs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  right: 17px
 
}
.cuadrado-cuatrobs {
  height: 3vh;
  width: 3vh;
  background-color:  rgb(191, 193, 194);
  position: absolute;
  right: 50px
}
.cuadrado-naranja {
  height: 10vh;
  width: 70vh;
  background-color: rgb(243, 134, 107);  
  position:absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-55%);
}
.cuadrado-blanco {
  height: 3vh;
  width: 70%;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  top: 50%; 
  left: 40%; 
  transform: translate(-50%, -50%);
}
.cuadrado-negro {
  height: 10vh;
  width: 10vh;
  background-color: rgb(57, 56, 77);  
  position: absolute;
  top: 150px;
  left: calc(45% + 35vh);
}
.cuadrado-gris1{
height:3vh;
width:30vh;
background-color: rgb(172, 172, 172);  
position: absolute;
top:300px;
left: 10%;
}
.cuadrado-gris2{
  height:3vh;
  width:30vh;
  background-color: rgb(172, 172, 172);  
  position: absolute;
  top:300px;
  left: 30%;
  }
  .cuadrado-gris3{
    height:3vh;
    width:30vh;
    background-color: rgb(172, 172, 172);  
    position: absolute;
    top:300px;
    left: 50%;
    }
    .cuadrado-gris4{
      height:3vh;
      width:30vh;
      background-color: rgb(172, 172, 172);  
      position: absolute;
      top:300px;
      left: 70%;
      }
      .fondo-mitad {
        width: 100%;         
        height: 350px; 
        display: flex;
        background-color: rgb(194, 239, 250);
       position: absolute;
        align-items: center; 
        top: 450px;  
      }
      .cuadrado-azul {
        height: 35vh;
        width: 35vh;
        background-color:  rgb(132, 194, 199);
        position: absolute;
        left: 20vh
       
      }
    
    .cuadrado-azul-gris {
      height: 3vh;
      width: 3vh;
      background-color:  rgb(215, 240, 253);
      position: absolute;
      top: 30px;
      left: 30px
     
    }

.cuadrado-azul-gris2 {
      height: 3vh;
      width: 3vh;
      background-color:  rgb(215, 240, 253);
      position: absolute;
      top: 80px;
      left: 30px
     
    }
  .cuadrado-azul-blanco {
      height: 3vh;
      width: 20vh;
      background-color:  rgb(255, 255, 255);
      position: absolute;
      top: 30px;
      left: 70px
     
    }
    .cuadrado-azul-blanco2 {
      height: 3vh;
      width: 20vh;
      background-color:  rgb(255, 255, 255);
      position: absolute;
      top: 80px;
      left: 70px

     
    }
    .cuadrado-celeste-negro{
      height: 5vh;
      width: 100vh;
      background-color:  rgb(81, 80, 107);
      position: absolute;
      top: 50px;
      left: 35%;
    }
    .cuadrado-celeste-blanco{
      height: 3vh;
      width: 100vh;
      background-color:  rgb(255, 255, 255);
      position: absolute;
      top: 40%;
      left: 35%;
    }

    .cuadrado-celeste-blanco2{
      height: 3vh;
      width: 100vh;
      background-color:  rgb(255, 255, 255);
      position: absolute;
      top: 55%;
      left: 35%;
    }

    .cuadrado-celeste-blanco3{
      height: 3vh;
      width: 70vh;
      background-color:  rgb(255, 255, 255);
      position: absolute;
      top: 70%;
      left: 42%;
    }
.cuadrado-uno {
  height: 40vh;
  width: 40vh;
  display: flex;
  align-items: center;
  margin-top: 100vh;
  margin-left: 30vh;
  background-color:rgb(243, 134, 107)
  
}
.cuadrado-uno-rojo{
  height: 4vh;
  width: 27vh;
  background-color:  rgb(190, 105, 84);
  position: absolute;
  top: 121vh;
  left: 18%;
}
.cuadrado-uno-blanco1{
  height: 2vh;
  width: 27vh;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  top: 131vh;
  left: 18%;
}

.cuadrado-uno-blanco2{
  height: 2vh;
  width: 27vh;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  top: 137vh;
  left: 18%;
}

.cuadrado-uno-blanco3{
  height: 2vh;
  width: 22vh;
  background-color:  rgb(255, 255, 255);
  position: absolute;
  top: 144vh;
  left: 18%;
}
.cuadrado-dos {

  height: 40vh;
  width: 40vh;
  display: flex;
  align-items: center;
  margin-top: -40vh;
  margin-left: 80vh;
  background-color:rgb(165, 241, 247)
}

.cuadrado-tres {
  height: 40vh;
  width: 40vh;
  display: flex;
  align-items: center;
  margin-top: -40vh;
  margin-left: 130vh;
  background-color:rgb(241, 185, 112)
}
.cuadrado-negro-bottom{
  height: 2vh;
  width: 40vh;
  background-color:  rgb(81, 80, 107);
  position: absolute;
  top: 160vh;
  left: 30vh;
}
.cuadrado-negro-bottom2{
  height: 2vh;
  width: 40vh;
  background-color:  rgb(81, 80, 107);
  position: absolute;
  top: 160vh;
  left: 80vh;
}
.cuadrado-negro-bottom3{
  height: 2vh;
  width: 40vh;
  background-color:  rgb(81, 80, 107);
  position: absolute;
  top: 160vh;
  left: 130vh;
}

.cuadrado-gris1-bottom{
  height: 2vh;
  width: 40vh;
  background-color:  rgb(172, 172, 172);
  position: absolute;
  top: 165vh;
  left: 30vh;
}

.cuadrado-gris1-bottom2{
  height: 2vh;
  width: 30vh;
  background-color:  rgb(172, 172, 172);
  position: absolute;
  top: 170vh;
  left: 30vh;
}

.cuadrado-gris2-bottom{
  height: 2vh;
  width: 40vh;
  background-color:  rgb(172, 172, 172);
  position: absolute;
  top: 165vh;
  left: 80vh;
}

.cuadrado-gris2-bottom2{
  height: 2vh;
  width: 30vh;
  background-color:  rgb(172, 172, 172);
  position: absolute;
  top: 170vh;
  left: 80vh;
}

.cuadrado-gris3-bottom{
  height: 2vh;
  width: 40vh;
  background-color:  rgb(172, 172, 172);
  position: absolute;
  top: 165vh;
  left: 130vh;
}

.cuadrado-gris3-bottom2{
  height: 2vh;
  width: 30vh;
  background-color:  rgb(172, 172, 172);
  position: absolute;
  top: 170vh;
  left: 130vh;
}